<a href="https://colab.research.google.com/github/Danielzinho220/Danielzinho220/blob/main/C%C3%B3pia_de_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# Conectar ao banco de dados (se não existir, ele será criado)
conn = sqlite3.connect('escola.db')

# Criar um cursor para executar comandos SQL
cursor = conn.cursor()

In [ ]:
# Criar a tabela aluno
cursor.execute('''CREATE TABLE aluno (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    nome TEXT NOT NULL,
                    idade INTEGER,
                    curso_id INTEGER,
                    FOREIGN KEY(curso_id) REFERENCES curso(id)
                )''')

# Criar a tabela curso
cursor.execute('''CREATE TABLE curso (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    nome TEXT NOT NULL
                )''')

# Criar a tabela disciplina
cursor.execute('''CREATE TABLE disciplina (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    nome TEXT NOT NULL,
                    curso_id INTEGER,
                    FOREIGN KEY(curso_id) REFERENCES curso(id)
                )''')

# Commit para salvar as alterações
conn.commit()

In [ ]:
# Inserir dados na tabela curso
cursor.execute("INSERT INTO curso (nome) VALUES ('Ciência da Computação')")
cursor.execute("INSERT INTO curso (nome) VALUES ('Engenharia Elétrica')")
cursor.execute("INSERT INTO curso (nome) VALUES ('Matemática')")

# Inserir dados na tabela disciplina
cursor.execute("INSERT INTO disciplina (nome, curso_id) VALUES ('Algoritmos', 1)")
cursor.execute("INSERT INTO disciplina (nome, curso_id) VALUES ('Circuitos Elétricos', 2)")

# Commit para salvar as alterações
conn.commit()

In [ ]:
# Consultar todos os cursos
cursor.execute("SELECT * FROM curso")
cursos = cursor.fetchall()
print("Cursos:")
for curso in cursos:
    print(curso)

# Consultar todas as disciplinas do curso de Ciência da Computação
cursor.execute("SELECT * FROM disciplina WHERE curso_id = 1")
disciplinas = cursor.fetchall()
print("\nDisciplinas de Ciência da Computação:")
for disciplina in disciplinas:
    print(disciplina)

# Consultar alunos e seus cursos
cursor.execute("SELECT aluno.nome, curso.nome FROM aluno INNER JOIN curso ON aluno.curso_id = curso.id")
alunos = cursor.fetchall()
print("\nAlunos e seus cursos:")
for aluno in alunos:
    print(aluno)

Cursos:
(1, 'Ciência da Computação')
(2, 'Engenharia Elétrica')
(3, 'Matemática')

Disciplinas de Ciência da Computação:
(1, 'Algoritmos', 1)

Alunos e seus cursos: